<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../app.js"></script>
</head>
<body>
    <div style="text-align: center;">
        <h1>Insert new player into the data base</h1><br /><br />
        <form action="/tratarFormCrear" method="post">
            First Name: <input type="text" name="name" value="<%= data.nombre %>"><br /><br />
            Birthdate: <input type="text" name="birthdate" value="<%= data.fecha %>"><br /><br />
            Nationality: <input type="text" name="nationality" value="<%= data.nacionalidad %>"><br /><br />
            TeamID: <input type="text" name="teamID" value="<%= data.equipo %>"><br /><br />
            Position: <input type="text" name="position" value="<%= data.posicion %>"><br /><br />
            Number: <input type="text" name="number" value="<%= data.dorsal %>"><br /><br />
            LeagueId: <input type="text" name="leagueID" value="<%= data.liga %>"><br /><br />
            <input type="submit" value="Submit">
        </form>
        <b><p style="color: red; font-style: italic"> <%= data.elerror %> </p></b>
    </div>
</body>
</html>